@import'/css/style.css';
@import'/css/variabels.css';



/* --------------Header------------- */

.top-menu {
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul-left {
    display: flex;
}

.ul-left img {
    margin-right: 1rem;
}

.ul-left p {
    font-family: roboto;
    font-size: var(--text-size-top-menu);
}

.ul-right {
    display: flex;
    gap: 1.3125rem;
}

.ul-right a {
    color: var(--blue-color);
}

.ul-right a:hover {
    color: var(--green-color);
    transition: 0.3s;
}

/* --------------Main-menu------------- */

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.18rem 0;
}

.main-menu ul {
    display: flex;
    gap: 2.5rem;
}

.main-menu a {
    color: var(--text-black-color);
}

.main-menu a:hover {
    color: var(--blue-color);
    transition: 0.2s;
}

.ham {
    display: none;
}

@media screen and (max-width: 1050px) {


    .main-menu {
        display: flex;
        justify-content: center;

    }

    .main-menu ul {
        background-color: red;
        display: none;
    }


    .top-menu .ul-left {
        display: none;
    }

    .top-menu .ul-right {
        margin: 0;
    }

    .top-menu {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        padding: 0 8%;
    }

    .top-menu .ham {
        display: block;
    }
}

/* -----------  SECTION-1- showcase  ----------- */

.showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-gray-color);
    /* border: 1px solid rgb(0, 17, 255); */
    padding: 1rem 0 0 7%;
    margin-bottom: 5.5625rem;
}

aside {
    /* border: 1px solid rgb(0, 255, 42); */
    flex: 1;
    /* padding-left: 8rem; */
    padding-left: 5%;
}

aside h1 {
    font-family: roboto Slab;
    font-size: 3.75rem;
    font-weight: 200;
    color: var(--text-black-color);
    margin-bottom: 3.5625rem;
}

aside p {
    font-family: Roboto;
    font-size: var(--text-size-para);
    font-weight: 400;
    color: var(--text-gray-color);
    margin-bottom: 2.875rem;
}


.showcase img {
    height: auto;
    flex: 1;
}

/* -----------  SECTION-2- about us  ----------- */

.about-us {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 5.4375rem;
}

.about-us aside {
    display: flex;
    flex-direction: column;
}

.about-us .h1 h2 {
    margin-top: 4.6875rem;
    font-family: Roboto Slab;
    color: var(--text-black-color);
    font-size: var(--text-size-h1);
}

.about-us .border {
    margin: 2rem 0 3.34rem 0;
    width: 71%;
    border-bottom: 4px solid var(--green-color);

}

.about-us .num {
    display: flex;
}

.about-us p {
    margin: 0 0 5rem 0;
    color: var(--text-gray-color);

    font-size: var(--text-size-para);
}

.about-us .num p {
    margin-top: 1.5rem;
    font-family: Roboto Slab;
    color: var(--text-black-color);
    font-size: var(--text-size-para);
}

.num span {
    font-size: var(--text-size-h1);
}

.num div {
    margin-right: 4rem;
}

/* -----------  SECTION-3- services  ----------- */

.our-servise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-white-color);

}

.container-2 {
    padding: 10.375rem 12% 9.375rem 12%;
}

.our-servise .h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: roboto Slab;
    font-size: var(--text-size-h1);
    color: var(--text-black-color);
    font-weight: lighter;

}

.our-servise .border {
    width: 250%;
    margin: 1.875rem 0 4.2rem 0;
    border-bottom: 4px solid var(--green-color);
}


/* -----------  appointment  ----------- */

.appointment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13%;
    background: rgb(52, 183, 252);
    background: linear-gradient(0deg, rgba(52, 183, 252, 1) 0%, rgba(43, 170, 236, 1) 68%, rgba(43, 170, 236, 1) 100%);
    height: 13.75rem;
}

.appointment h3 {
    color: white;
    font-family: roboto slab;
    font-size: var(--text-size-h2);
    font-weight: 100;
}

.appointment button {
    font-family: roboto;
    font-size: var(--text-size-para);
    font-weight: bold;
    color: var(--blue-color);
    border: none;
    padding: 0.8rem 3.5rem;
    border-radius: 10px;
    background-color: white;
}

.appointment button:hover {
    background-color: var(--green-color);
    color: white;
    cursor: pointer;
    transition: 0.2s;

}

@media screen and (max-width: 1133px) {
    .appointment {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    .appointment h3 {
        text-align: center;
    }

}

/* -----------  Footer  ----------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #2BAAEC;
}

footer span {
    display: inline-block;
    color: #F3FBFF;
    font-family: Roboto;
}



/* -----------  Media Queries max-width: 1600px  ----------- */

@media screen and (max-width: 1600px) {
    .showcase {

        padding: 1.3125rem 8% 0 8%;
    }

    .showcase img {
        width: 600px;
        padding-right: 2rem;

    }

    aside h1 {

        font-size: 3rem;
        font-weight: 200;

    }
}

/* -----------  Media Queries max-width: 1500px  ----------- */

@media screen and (max-width: 1500px) {
    .showcase {

        padding: 1.3125rem 5% 0 5%;
    }

    .showcase img {
        width: 500px;

    }

    aside h1 {

        font-size: 2.5rem;
        font-weight: 200;

    }


}

/* -----------  Media Queries max-width: 1130px  ----------- */

@media screen and (max-width: 1400px) {
    .about-us img {
        display: none;
    }



}

@media screen and (max-width: 1130px) {
    .showcase img {

        display: none;
    }

    .showcase {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    aside p,
    h1 {
        padding: 0 5%;
        text-align: center;
    }



}

@media screen and (max-width: 1024px) {
    .our-servise .row {
        display: flex;
        flex-direction: column;
    }

    .our-servise .border,
    .about-us .border {
        width: 100%;
    }


}

@media screen and (max-width: 780px) {
    .about-us {
        display: none;
    }

    .appointment {
        padding-top: 2rem;
    }

    .appointment h3 {
        font-size: 1.5rem;
    }

    .appointment button {
        padding: 0.8rem 2.5rem;
        margin-bottom: 3rem;
    }

    .showcase h1,
    .our-servise .h1 {
        font-size: var(--text-size-h2);
    }
}